.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-hover
{
     border: 1px solid #ddd;
     border-radius: 4px;
     padding: 5px;
}

.product-hover:hover {
  box-shadow: 1px 1px 1px grey;
}

.footer {
  height: 120;
  /* background: #F7FEFF; */
  text-align: left;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Padding table antd */
.ant-table-tbody{
  padding: 2px !important;
}
.ant-table-tbody > tr > td{
  padding: 2px !important;
}

.button-order {
  /* width: 100px; */
  float: right;
  background: #09C;
  color: #fff;
  font-family: Tahoma, Geneva, sans-serif;
  height: 30px;
  border-radius: 15px;
  border: 1p solid #999;
  top: 10px;
  margin-bottom: 20px;
}
.button-order:hover {
  background: #fff;
  color: #09C;
}

.ant-btn-link {
  padding: 6px !important;
}

.app-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.app-enabled {
  pointer-events: all;
  cursor: default;
  opacity: 1;
}